@{
    ViewBag.Title = "About";
}


@section featured {
<div class="parentabout">
    <div class="about">
  <div class="titletxt">About Our Company</div>
   <div class="abtcompany">
    <p>
          Founded by industry experts in 2001, Syncfusion, Inc. provides the broadest range of enterprise-class software components and tools for the Microsoft .NET platform.
        </p>

        <p>
          Our award-winning .NET components and controls are designed to meet your evolving development needs, whether you're working in Windows Forms, WPF, ASP.NET, ASP.NET MVC, or Silverlight.
        </p>

        <p>
          At Syncfusion, we uncompromisingly strive for excellence in order to offer the very best value to our customers—from small ISVs to Fortune 100 companies.
        </p>
   </div>
   </div>
   </div>
}
<div class="Awards">
  Awards:<br /> 
  <div>
    <img src='@Url.Content("~/Images/SDTimes.png")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/codeproject.png")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/inc.png")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/component.PNG")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/codeie.png")' alt="" />
    </div>
     <div>
     <img src='@Url.Content("~/Images/vp.png")' alt="" />
    </div>
    </div>